
.big{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(./img/Dwayne-Johnson.webp);
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.title{
    display: flex;
    justify-content: center;
    position: absolute;
    font-size: 20px;
    padding: 75px 20px;
    width: 100%;
    background-color: white;
    opacity: .5;
    color: black;
    font-size: 40px;
}
.little{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.little-items{
    width: 300px;
    padding: 20px;
    background-color: red;
}
.little-title{
    display: flex;
    text-align: center;
}
.little-img img{
    width: 100%;
}
.active{
    background-color: rgb(64, 56, 133);
}