let E = '28.02.1999'; 
let pi  = 3.14;

console.log(E, pi)

const F = 101;



console.log(F)

let name = prompt('name')
let address = prompt('address')
let phone_number = prompt('phone number')

console.log(`student ${name}, address ${address}, phone number ${phone_number}.`)


let rub = prompt('rubel') / 58;

console.log(rub)

let a = 5, b = 10, c;
  c = a + b;
  console.log(c);

  console.log('start')

  const D = 6;

if(D < 10){
  console.log('constant less than 10') 
} else{
  console.log()
}
 
  console.log('end')

let nameData = 'borger';
let passwordData = "1234";

let Name = prompt('login?')
let password = prompt('password?')

if(nameData === Name && passwordData === password){
    console.log('welcome');
} else{
  console.log('error')
}

let code = 'js'

switch(code){
  case('html') : 
  console.log('html');
  break;

  case('css') : 
  console.log('css');
  break;

  case('js') : 
  console.log('js');
  break;

  case('react') : 
  console.log('react');

  default:
    console.log('default')
}

function world(){
  alert('Hello world')
}

function java(){
  console.log('JavaScript')
}

function constants(F){
  if( F < 10){
    console.log('constant less than 10');
  } else {
    console.log('constant not less than 10')
  }
}

let G = 'borger';

function lor(){
  if( G === 'lorem'){
    console.log('you have error in the text')
  } else{
    console.log('varibale content borger')
  }
}

constants(5)
world()
java()
lor()

let name = 'Deni';//string
const age = 16; //number
if(age <  15){
  console.log('accsess prohibited')
}else{
  console.log(`hello ${name}`)
}

function veiwMoney(){
  console.log('вот вам 10$')
}

function getMoney(cash$){
  return `вот вам ${cash$}$` 
}

function square(num){
  return num * num
}

function cal(num1, num2, num3){
  if(num1 > num2 && num1 > num3){
    return num1
  }
  else if(num2 > num1 && num2 > num3){
      return num2
  } return num3
}


function dis (a,b,c){
return b**2 - 4 * (a * c)
}



function oed(e, f){
  if(e % 2 === 0 && f % 2 === 0){
    return e * f
    } else if (a % 2 !== 0 && f % 2 !== 0){
    return e + f
    } else if(a % 2 !== 0){
       return e
    } else {
     return f
  }
}


veiwMoney()
console.log(getMoney(999)) 
console.log(square(9))
console.log(cal(2,9,3))
console.log(dis(10,20,4))
console.log(oed())

let person = {
  first_name: 'Fritz',
  last_name: 'Nachtnebel',
  age: '34',
  height: '194cm',
  money: '-1000$',
  login: {
    password: '12345',
  }
  
  }

person.address = 'Germany, berlin, Pasiser Platz';

let pass = '12346';

function passw(){
  if(pass === person.login.password){
    return `welcome ${person.first_name} ${person.last_name}`
  } else {
    return `The specified password ${pass} is not correct, try again.`
  }
}

console.log(person)
console.log(passw())

let arr = ['lorem', 123, true,'ipsum',]

console.log(arr.length);
console.log(arr[arr.length - 1]);
console.log(arr[0]);

arr.unshift(1,2,3,);
arr.shift();
arr.splice(4,5,);

console.log(arr);

let em = [];

em.push(1,'zwei',3,false,'fem',);

console.log(em);



let number = [1,3,5,7,9] 

number[0] = 2 
number[1] = 4 
number[2] = 6 
number[3] = 8
number[4] = 10

console.log(number)

number.splice(1,3)